.cart-section .container {
  width: 90%;
  margin: auto;
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-item {
  width: 90%;
  max-width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px auto;
}

.cart-item img {
  width: 30%;
  max-width: 200px;
  object-fit: contain;
}

.cart-item .description {
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 1rem;
}

.count-handler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 90%;
  max-width: 300px;
  padding: 5px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
