.shop-section .container {
  width: 90%;
  margin: auto;
}
.shop-title {
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.product {
  border-radius: 15px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.product .description {
  text-align: center;
  padding: 0.3rem ;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.add-to-cart-bttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  transition: 0.3s;
}

.add-to-cart-bttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
